:root {
    --cor-de-fundo: #EBECEE;
    --branco: #ffffff;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --font-principal: "Poppins";

}

.titulo__carrosel {
    font-weight: 700;
    font-size: 18px;
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    padding: 1rem 0;
}

.swiper-slide img {
    width: 100%;
}

div[class=swiper-button-prev],
div[class=swiper-button-next] {
    display: none;
}

.swiper-pagination {
    position: initial !important;
    margin: 0.5rem 0;

}

.card__descricao {
    display: flex;
    justify-content: space-between;
    
}

.botoes {
    display: flex;
    justify-content: space-between;
}

.card__botoes {
    display: flex;

}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Poppins';
}

.banana {
    color: var(--laranja);
    font-weight: 700;
    font-size: 16px;
}

.kiwi {
    color: #002F52;
    font-size: 18px;
    font-weight: 700;
    margin: 1rem 0;
}

.uva {
    font-weight: 400;
    font-size: 14px;
    color: black;
}

.botoes__items {
    margin: 0 0.5rem;
}

.saiba__mais {
    background-color: var(--laranja);
    color: var(--branco);
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    padding:1rem 2.2rem;
}

.img__angular{
    margin-bottom: 2rem;
}

.estrelinhas{
    padding-bottom: 1rem;
}
.arrumadinha{
    padding-top:2rem;
}

@media screen and (min-width: 1024px){
    .titulo__carrosel{
        font-size: 26px;
    }

    .swiper-pagination{
        margin:2rem 0 3rem 0;
    }
    .swiper{
        width: 60%;   
    }
   .angular{
    width:57%;

   }
    .card{
        margin: 2rem auto;
    }
    

}

@media screen and (min-width: 1457px){
      .carrosel__container{
        display:flex;
        margin:0 12vw 3rem 12vw;
        align-items: center;
      }

      .card{
        margin-left:3rem;
        width:70%;
       
      }
      .banana{
        font-size: 32px;
        margin-right: 1rem;
      }
      .arrumadinha{
        padding:0;
      }
      .swiper{
        margin-bottom: 2rem;
        width:100%;
      }
      
      .img__angular{
        width:25%;
        margin-left:1rem;
      }
     

}  








