.topicos{
    background: var(--azul-degrade);
    text-align:center;
    padding-bottom: 1rem;


}

.titulo__topicos{
    color: var(--branco);
    font-weight: 300;
    font-size: 16px;
    padding: 2rem;
    font-family: var(--font-principal);
}

.lista__item{
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   
}

.lista__topicos{
    margin: 1.5rem 0.5rem;
}


.items__topicos{
    background-color: var(--laranja);
    color:var(--branco);
    padding: 1rem;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;

}



@media screen and (min-width: 1024px){
     .titulo__topicos{
        font-size: 24px;
        padding:3rem 0 4rem 0;

     }
     .items__topicos{
        font-size: 24px;
        padding:1.5rem;
        margin-bottom: 5rem;
 
     }
     .lista__topicos{
        margin-bottom: 3.5rem;
     }

     .topicos{
        padding: 0 3rem;
     }
}

@media screen and (min-width: 1456px){
   .topicos{
      padding: 1rem 20vw;
   }
}